h3 { margin-top: 0; }
h4 { margin-top: 6px !important; }
.top-margin { margin-top: 40px; }
input[type=text], button { border: black 1px solid; }

.listblock {
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    min-height: 90px;
    background-color: rgba(0,0,0,0.2);
    color: whitesmoke;
    border: 1px solid dimgray;
    margin: 4px;
    text-align: center;
}

body {
    background: rgb(69,81,117);
    background: -moz-radial-gradient(center, ellipse cover,  rgb(69,81,117) 30%, rgb(29,43,58) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(69,81,117) 30%,rgb(29,43,58) 100%);
    background: radial-gradient(ellipse at center,  rgb(69,81,117) 30%,rgb(29,43,58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455175', endColorstr='#1d2b3a',GradientType=1 );
}

html {
    height: 100%;
}
input {
    font-size: 19px;
    background-color: rgba(0,0,0,0.2);
}
#addtaskbtn {
    width: 55px;
    padding: 2px;
}
.finished {
    background-color: rgba(77, 255, 228, 0.39);
}
.finishbtn {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    color: rgba(124, 252, 0, 0.42);
    cursor: pointer;
    transition: all 0.3s ease;
}
.finishbtn:hover {
    color: rgb(124, 252, 0);
    background-color: #4659bc;
}
.delbtn {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    color: rgba(245, 35, 94, 0.61);
    cursor: pointer;
    transition: all 0.3s ease;
}
.delbtn:hover {
    color: rgb(245, 35, 94);
    background-color: #4659bc;
}
.listbar {
    color: seashell;
}
.listbar li {
    background-color: black;
}
