

<div ng-controller="listController as lc">


    <nav>
        <ul class="pagination pagination-lg">
            <li><a href="#"></a></li>
            <li><a href="#" ng-repeat="listtab in lc.lists" ng-click="">{{listtab}}&nbsp;&nbsp;<span class="badge">{{ lc.tasks.length }}</a></li>
        </ul>
    </nav>


    <!--<nav role="navigation" class="navbar listbar">-->
        <!--<div class="container">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div>-->
                <!--<button type="button" data-target="#listbarCollapse" data-toggle="collapse" class="navbar-toggle">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--&lt;!&ndash; Collection of nav links and other content for toggling &ndash;&gt;-->
            <!--<div id="listbarCollapse" class="collapse navbar-collapse">-->
                <!--<ul class="nav">-->
                    <!--<li ng-repeat="list in lc.lists">{{list}}&nbsp;&nbsp;<span class="badge">{{ lc.tasks.length | filter: {list} }}</span></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->


    <div class="listblock">
        <form role="form" ng-submit="lc.addTask(task)">

            <input type="text" ng-model="task.listname" placeholder="List Name" size="30" required/>
            <input type="text" ng-model="task.name" placeholder="enter task name" size="30" required/>
            <input type="submit" value=" + " id="addtaskbtn"/>
        </form>
    </div>

<div class="col-xs-12 listblock" ng-repeat="list in lc.lists">
    <h2>{{list}}</h2>
    <hr>
    <div class="col-xs-12">
        <div ng-repeat="task in lc.tasks | filter:{ listname: list }">
            <div class="listblock" ng-class="{finished: task.finished}">

            <!-- FINISH BUTTON -->
            <div class="col-xs-2 finishbtn" ng-click="lc.finishTask(task)" ng-model="task.finished"><span class="glyphicon glyphicon-ok"></span></div>


            <!-- TASK NAME -->
            <div class="col-xs-8">
            <span ng-bind="task.name"></span>
            <!--<p>{{$index+1}}</p>-->
            </div>


            <!-- DELETE BUTTON -->
            <div class="col-xs-2 delbtn" ng-click="lc.delTask($index)"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
</div>


    <!--<div class="col-xs-12">-->
        <!--<div ng-repeat="task in lc.tasks track by $index ">-->
            <!--<div class="listblock" ng-class="{finished: task.finished}">-->

                <!--&lt;!&ndash; FINISH BUTTON &ndash;&gt;-->
                <!--<div class="col-xs-2 finishbtn" ng-click="lc.finishTask(task)" ng-model="task.finished"><span class="glyphicon glyphicon-ok"></span></div>-->


                <!--&lt;!&ndash; TASK NAME &ndash;&gt;-->
                <!--<div class="col-xs-8">-->
                    <!--<span ng-bind="task.name"></span>-->
                    <!--<p>{{$index+1}}</p>-->
                <!--</div>-->


                <!--&lt;!&ndash; DELETE BUTTON &ndash;&gt;-->
                <!--<div class="col-xs-2 delbtn" ng-click="lc.delTask($index)"><span class="glyphicon glyphicon-remove"></span></div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
